.color-dark {
    color: black;
}

.color-shadow {
    color: grey;
}

.color-light {
    color: whitesmoke;
}

.bcolor-dark {
    background-color: black;
}

.bcolor-shadow {
    background-color: grey;
}

.bcolor-light {
    background-color: whitesmoke;
}

.acolor-dark {
    accent-color: black;
}

.acolor-shadow {
    accent-color: grey;
}

.acolor-light {
    accent-color: whitesmoke;
}