.flex-row {
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    justify-items: center;
  
    align-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    justify-items: center;

    align-content: center;
    align-items: flex-start;
}
