.view-doc {
    width: 65%;
    margin: auto;
}

.view-side {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

@media all and (max-width: 600px) {
    .view-doc {
        width: 95%;
    }

    .view-side {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 600px) and (max-width: 900px) {
    .view-doc {
        width: 95%;
    }

    .view-side {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 900px) and (max-width: 1200px) {
    .view-doc {
        width: 80%;
    }

    .view-side {
        grid-template-columns: 3fr 7fr;
    }
}
