.body {
    width: 65%;
    margin: auto;
}

.side {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

@media all and (max-width: 600px) {
    .body {
        width: 95%;
    }

    .side {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 600px) and (max-width: 900px) {
    .body {
        width: 95%;
    }

    .side {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 900px) and (max-width: 1200px) {
    .body {
        width: 80%;
    }

    .side {
        grid-template-columns: 3fr 7fr;
    }
}
